{% extends '::base.html.twig' %}


{% block head %}

{% endblock %}

{%block nav%}
 <nav>
<div class="menu">
    <ul>
    
    <li><a href="{{ path('bolsa_frontend_homepage') }}">Inicio</a></li>
    <!-- <li><a href="#">Inscriptos</a></li>
    <li><a href="#">Preinscriptos</a></li> -->
    <li><a href="#">Ofertas</a></li>
    <li><a href="{{ path('frontend_registro') }}">Inscribirse</a></li>
	<li><a href="#">Ayuda</a></li>
    </ul>
	</div>
    </nav>
{%endblock%}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-message">
            <em>Notice</em>: {{ flashMessage }}
        </div>
    {% endfor %}

    {% block content_header %}
       

        <div style="clear: both"></div>
    {% endblock %}

    <div class="block">
        {% block content %}{% endblock %}
    </div>

    {% if code is defined %}
        <h2>Code behind this page</h2>
        <div class="block">
            <div class="symfony-content">{{ code|raw }}</div>
        </div>
    {% endif %}
{% endblock %}
