{% extends 'BolsaFrontendBundle::layout.html.twig' %}

{% block body -%}

	<div id="wrapper"><!-- #wrapper -->
	<section id="main"><!-- #main content and sidebar area -->

		<aside id="sidebar1"><!-- sidebar1 -->
				

		</aside><!-- end of sidebar1 -->
        

			<section id="content"><!-- #content -->
                        Si aun no es un usuario registrado de la Bolsa de Trabajo, puede ingresar completando el siguiente
                        <a href="{{ path('frontend_registro') }}">formulario de inscripción.</a>
                        De esta forma, podrá participar de la Bolsa de Trabajo y recibir los anuncios de nuevas ofertas laborales por mail.
			</section>

               <!--    <a href="#" class="button"> Leer mas </a> -->
              </div>

		<aside id="sidebar2"><!-- sidebar2 -->
			

		</aside><!-- end of sidebar -->

		
 {% endblock %}
